body{
    background-image:url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 412px;
    height: 914px;

    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    background-color: hotpink;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  
  #naoBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  video, canvas, #fotoCapturada {
    top: 578px;
    right: 100px;
    width: 34%;
    position: relative;
    transform: rotate(-7deg);
    aspect-ratio: 1 / 1;
  }
  
  #kuromi {
    position: absolute;
    top: 430px;
    right: 70px;
    width: 400px;
    z-index: 1;
  }
  
  #mensagem {
    font-size: 18px;
    color: #d81b60;
    margin-top: 15px;
    font-weight: bold;
  }
  